@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Montserrat:wght@300&family=Roboto+Mono:wght@100&display=swap');

.dashboard {
    font-family: Montserrat, Roboto, monospace;
    padding: 1rem;
}

.new {
  font-family: Montserrat, Roboto, monospace;
  padding: 1rem;
  margin-bottom: 10%;
}

.new input{
  margin: 1rem;
}

.btn-save{
  margin: 1rem;
}

.max{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: radial-gradient(circle at -11.24% 14.64%, #8beb94 0, #73e898 16.67%, #54e59c 33.33%, #1ee1a1 50%, #00dda7 66.67%, #00d9af 83.33%, #00d5b7 100%);
    background-repeat: no-repeat;
}

.container-prest{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.container-prest input{
    width: 60%;
}

.container-others{
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin-top: 10%;
}

.btn-new-prest{
    margin-left: 10%;
}

@media (max-width: 400px) {
    .container-prest input{
        width: 74%;
    }
}

#header {
    position: absolute;
    width: 220px;
  }
  #header .pro-sidebar {
    height: 100vh;
  }
  #header .closemenu {
    color: #000;
    position: absolute;
    right: 0;
    z-index: 9999;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    top: 55px;
    cursor: pointer;
  }
  #header .pro-sidebar {
    width: 100%;
    min-width: 100%;
  }
  #header .pro-sidebar.collapsed {
    width: 80px;
    min-width: 80px;
  }
  #header .pro-sidebar-inner {
    background-color: white;
    box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
  }
  #header .pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
    font-size: 20px;
    padding: 0 20px;
    color: #000;
    font-weight: bold;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 5px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: #000;
    margin: 10px 0px;
    font-weight: bold;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    background-color: #fbf4cd;
    color: #000;
    border-radius: 3px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
    color: #000;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout .active {
    background-image: radial-gradient(circle at -11.24% 14.64%, #8beb94 0, #73e898 16.67%, #54e59c 33.33%, #1ee1a1 50%, #00dda7 66.67%, #00d9af 83.33%, #00d5b7 100%)
  }
  #header .logo {
    padding: 20px;
  }
  
  @media only screen and (max-width: 720px) {
    html {
      overflow: hidden;
    }
  }